<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-02 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Users</p>
              <p class="card-title"><%= totalUsers %></p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-02 text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Member</p>
              <p class="card-title"><%= member%></p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-02 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Non Member</p>
              <p class="card-title"><%= nonMember%></p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-02 text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">User Expired</p>
              <p class="card-title"><%= expired%></p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">HISTORYS</h5>
      </div>
      <div class="card-body">
        <table id="table" class="table table-striped table-bordered" style="width: 100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Expired</th>
              <th>Loker</th>
              <th>Status</th>
              <th>Tanggal Masuk</th>
              <th>Tanggal Keluar</th>
            </tr>
          </thead>
          <tbody>
            <% historys.forEach( history=> { %>
              <tr>
                <td>
                  <%= history.name %>
                </td>
                <td>
                  <%= history.expired %>
                </td>
                <td>
                  <%= history.loker %>
                </td>
                <td>
                  <%= history.status %>
                </td>
                <td>
                  <%= history.tanggal_masuk %>
                </td>
                <td>
                  <%= history.tanggal_keluar %>
                </td>
              </tr>
        
              <% }) %>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats">
          <!-- <i class="fa fa-history"></i> Updated 3 minutes ago -->
        </div>
      </div>
    </div>
  </div>
</div>
